body {
  background-color: #480903;
  border: 1;
}

h1 {
  padding: 35px;
  font-size: 60px;
  text-align: center; 
  font-family:'Courier New', Courier, monospace;
  background-color:  #E5D1A4;
  margin-left: 300px; 
  margin-right: 300px;
  color: #480903;
}

h2 {
  padding: 10px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  background-color: #CE793A;
  margin-left: 300px;
  margin-right: 300px;
  color: #480903;
}

h3 {
  padding: 5px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(103, 0, 0, 0.581);
  margin-left: 300px;
  margin-right: 300px;
  color: rgb(215, 148, 14);
}

p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 350px;
  margin-right: 350px;
  text-indent: 2em;
}

.navbar {
    overflow: hidden;
    background-color: #B64B12;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #DFBBCA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #CE793A;
    color: #937A24;
}
nav {
    color: white;
    display: inline-block;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    background-color: #000000;
}