body {
  background-color: #480903;
  border: 1;
}

h1 {
  padding: 35px;
  font-size: 60px;
  text-align: center; 
  font-family:'Courier New', Courier, monospace;
  background-color:  #937A24;
  margin-left: 300px; 
  margin-right: 300px;
  color: #480903;
}

h2 {
  padding: 10px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  background-color: #CE793A;
  margin-left: 300px;
  margin-right: 300px;
  color: #480903;
}

h3 {
  padding: 5px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(103, 0, 0, 0.581);
  margin-left: 300px;
  margin-right: 300px;
  color: rgb(215, 148, 14);
}

p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 350px;
  margin-right: 350px;
  text-indent: 2em;
}

.navbar {
    overflow: hidden;
    background-color: #B64B12;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #DFBBCA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #CE793A;
    color: #937A24;
}
nav {
    color: white;
    display: inline-block;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    background-color: #000000;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    width: 700px;
    border-radius: 10px;
    background: #CE793A; 
    box-shadow: #ffffff; 
}

.nav--list {
    width: 100%; 
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item {
    position: relative;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    user-select: none;
    cursor: pointer; 
    margin: 0 30px;
    border: 2px solid #480903;
    overflow: hidden;
}

.item a {
    font-size: 16px;
    text-transform: uppercase;
    color: #B64B12;
    z-index: 10;
    text-decoration: none;
    transition: color 200ms ease;
}

.item:hover a {
    color: #DFBBCA; 
}

.item:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    transform: skew(30deg);
    background: #937A24; 
    transition: width 400ms ease; 
}

.item:hover:before {
    width: 120%;
}