body{
  background-color:rgb(43, 9, 1);
  border: 1;
} 

h1 {
  padding: 35px;
  text-align: center;
  font-family: 'playfair display', serif;
  background-color: rgb(67, 12, 12);
  margin-left: 300px;
  margin-right: 300px;
  color: rgb(215, 148, 14); 
}

h2 {
  padding: 10px;
  text-align: center;
  font-family: 'playfair display', serif;
  background-color: rgb(67, 12, 12);
  margin-left: 300px;
  margin-right: 300px;
  color: rgb(215, 148, 14); 
}

h3 {
  padding: 5px;
  text-align: center;
  font-family: 'playfair display', serif;
  background-color: rgb(67, 12, 12);
  margin-left: 300px;
  margin-right: 300px;
  color: rgb(215, 148, 14); 
}

p {
  color: white; 
  font-family: 'playfair display', serif;
  margin-left: 350px;
  margin-right: 350px;
  text-indent: 2em;
}