body{
  background-color:rgb(69, 18, 8);
} 

h1 {
  padding: 35px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(232, 183, 50); 
}

h2 {
  padding: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(232, 183, 50); 
}

h3 {
  padding: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(232, 183, 50); 
}
