body{
  background-color:rgb(27, 7, 7);
  border: 1;
} 

h1 {
  padding: 35px;
  text-align: center;
  font-family: 'playfair display', serif;
  background-color: rgb(94, 21, 21);
  color: rgb(232, 171, 50); 
}

h2 {
  padding: 10px;
  text-align: center;
  font-family: 'playfair display', serif;
  background-color: rgb(94, 21, 21);
  color: rgb(232, 171, 50); 
}

h3 {
  padding: 5px;
  text-align: center;
  font-family: 'playfair display', serif;
  background-color: rgb(94, 21, 21);
  color: rgb(232, 171, 50); 
}

p {
  color: white; 
  font-family: 'playfair display', serif;
}