body {
  background-color: rgb(40, 0, 0);
  border: 1;
}

h1 {
  padding: 35px;
  font-size: 60px;
  text-align: center; 
  font-family:'Courier New', Courier, monospace;
  background-color: rgba(103, 0 , 0 , 0.581);
  margin-left: 300px; 
  margin-right: 300px;
  color: rgb(215, 148, 14);
}

h2 {
  padding: 10px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(103, 0, 0, 0.581);
  margin-left: 300px;
  margin-right: 300px;
  color: rgb(162, 108, 0);
}

h3 {
  padding: 5px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(103, 0, 0, 0.581);
  margin-left: 300px;
  margin-right: 300px;
  color: rgb(215, 148, 14);
}

p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 350px;
  margin-right: 350px;
  text-indent: 2em;
}