body {
  background-color: rgb(40, 0, 0);
  border: 1;
}

nav {
    text-align: center;
    color: white;
}

img {
  width: 20%;
  height: auto;
}

header {
    border: 1px solid rgb(149, 140, 140);
    padding: 15px;
    text-align: center;
    background-color: rgb(33, 15, 15);
}

h1 {
  padding: 35px;
  font-size: 60px;
  text-align: center; 
  font-family:'Times New Roman', Times, serif;
  background-color: rgba(103, 0 , 0 , 0.581);
  margin-left: 300px; 
  margin-right: 300px;
  color: rgb(215, 148, 14);
}

h2 {
  padding: 10px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(103, 0, 0, 0.581);
  margin-left: 300px;
  margin-right: 300px;
  color: rgb(162, 108, 0);
}

h3 {
  padding: 5px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(103, 0, 0, 0.581);
  margin-left: 300px;
  margin-right: 300px;
  color: rgb(215, 148, 14);
}

p {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 350px;
  margin-right: 350px;
  text-indent: 2em;
}